<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.com.techsoft.unitrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UniActivity"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ng.com.techsoft.unitrivia.MainActivity" />
        <activity android:name="ng.com.techsoft.unitrivia.QuizActivity" />
        <activity android:name="ng.com.techsoft.unitrivia.Category"/>
        <activity android:name="ng.com.techsoft.unitrivia.Question"/>
        <activity android:name="ng.com.techsoft.unitrivia.QuizContract"/>
        <activity android:name="ng.com.techsoft.unitrivia.QuizDbHelper"/>
        <activity android:name="ng.com.techsoft.unitrivia.AboutActivity"></activity>
    </application>

</manifest>